// THIS DOCUMENT IS AUTO GENERATED FROM SOURCE FILES IN THE 'PUG' FOLDER
doctype html

html
    head
        title Farm to Door

        // meta
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block meta
        
        // fonts
        link(rel="stylesheet" href="css/fonts.css")
        link(rel="stylesheet" href="css/font-awesome.css")
        block fonts

        // styles
        link(rel="stylesheet" href="css/simple-grid.css")
        link(rel="stylesheet" href="css/main.css")
        block styles

        // scripts
        script(type="text/javascript" src="js/js-cookie.min.js")
        script(type="text/javascript" src="js/js-buy-sdk.js")
        script(type="text/javascript" src="js/bundle.js")
        script(type="text/javascript" src="js/vue.min.js")
        block scripts
    
    body
        div(id="app")
            div(id="mobile-nav")
                div(id="mobile-nav-contents")
                    ul(class="nav-icons")
                        li
                            a(href="/cart")
                                span(class="fa fa-shopping-cart" style="margin-right: 8px;")
                        li
                            span(class="fa fa-navicon" onclick="toggleMobileMenu()")
                
                    ul(class="nav-items")
                        a(href="/")
                            li(class="darker current-page")
                                |
                                span(class="fa fa-home")
                                | Home
                        a(href="/shop")
                            li
                                |
                                span(class="fa fa-shopping-basket")
                                | Shop
                        a(href="/about")
                            li(class="darker")
                                |
                                span(class="fa fa-users")
                                | About
                        a(href="/cart")
                            li
                                |
                                span(class="fa fa-shopping-cart")
                                | Cart
                

            .heading
                block heading-background
            
                header(class="clearfix")
                    a(href="/")
                        img.limit-height(src="res/logo.svg" id="header-logo")
                    
                    nav(id="header-nav")
                        div(id="nav")
                        ul(id="nav-items")
                            li#menu-home(class="hide-home")
                                a(href="/") Home
                            li#menu-shop
                                a(href="/shop") Shop
                            li#menu-about
                                a(href="/about") About
                            li#menu-cart
                                a(href="/cart")
                                    span(class="fa fa-shopping-cart" style="margin-right: 8px;")

                block heading-contents
            
            div(class="page")
                div(class="container")
                    block page-contents
            
                div(style="background-color: #207c51")
                    block before-footer
                
            footer
                p.center
                    | Copyright Farm to Door 2018. See 
                    a(href="/about#copyright" style="color: white;") additional copyright details.
                p.center Disclaimer: This is a mock website made for an 
                    a(href="http://www.fbla-pbl.org/" style="color: white;") FBLA Competition
            
            div(id="popup-bg" class="hidden")
                div(style="position: relative; width: 100%;")
                    div(id="popup-container")
                        div(id="popup-contents")
                            h1(id="popup-heading").center Are you sure?
                            p(id="popup-text").center This action cannot be undone.
                            div.center
                                button(id="popup-cancel").red Cancel
                                button(id="popup-yes") Yes
                            block popup-contents
            
            #welcome-bg.hidden
                div(style="position: relative; width: 100%; height: 100%;")
                    #welcome-contents.about
                        h1 Welcome to my website
                        h2 Thank you for taking the time to grade it!

                        p Just a note, This website 
                            strong does not work properly on Internet Explorer yet. 
                            | However, it works on all other major modern browsers (Chrome, Firefox, Edge, etc), including smartphones.
                        
                        br
                        p The shooping cart is powered by Shopify's api. This is a developer store, so you can checkout, but it won't let you get past the address part.

                        br
                        p Copyright information and a link to the code (github repository) can be found in the "About" section.

                        br
                        p Once closed, this message will not reappear unless the site's cookies are cleared.

                        br
                        button.red(onclick="window.closeWelcome();") Close



        script(type="text/javascript" src="js/welcome.js")
        block end-of-body